@charset "utf-8";
*{
margin:0 auto;
padding:0;
box-sizing:border-box;
user-select:none;
}
:root{
--theme-image:url("aqua.jpg");
--theme-color:rgb(0,146,239);
--theme-hover-color:rgb(0,117,191);
}
::-webkit-scrollbar{
display:none;
}
html,body{
/*background-color:#EEE;*/
background-image:var(--theme-image);
}
#container{
margin:0 auto;
padding:4px;
width:60%;
background-color:rgba(249,249,249,0.6);/*#F9F9F9*/
border-radius:5px;
box-shadow:0px 8px 40px 2px rgba(0,0,0,0.1);
backdrop-filter:blur(10px);
}
#searchbox{
margin:0 auto;
margin-top:40px;
margin-bottom:10px;
width:60%;
height:40px;
font-size:20px;
box-shadow:0px 8px 40px 2px rgba(0,0,0,0.3);
}
#hello{
margin:8px auto;
margin-top:0;
padding-top:64px;
margin-bottom:2px;
font-size:40px;
text-align:center;
text-indent:0;
}
h1{
margin:10px;
text-indent:56.5px;
}
p{
text-align:center;
font-weight:555;
}
h2{
font-size:24px;
font-weight:550;
text-indent:96.5px;
padding-bottom:10px
}
form{
position:relative;
width:100%;
height:100%;
}
input{
position:relative;
width:80%;
height:100%;
float:left;
border-style:solid;
border-width:3px;
border-color:var(--theme-color);
font-size:18px;
}
input:placeholder-shown{
font-style:italic;
}
input:focus{
outline:none;
border-style:solid;
border-width:3px;
border-color:var(--theme-color);
}
button{
position:relative;
width:20%;
height:100%;
float:right;
color:#FFF;
font-weight:555;
font-size:20px;
background-color:var(--theme-color);
border:none;
transition:background-color 0.1s linear;
-webkit-transition:background-color 0.1s linear;
-moz-transition:background-color 0.1s linear;
-o-transition:background-color 0.1s linear;
}
button:hover{
background-color:var(--theme-hover-color);/*002480*/
}
button:focus{
outline:none;
}
a{
display:block;
position:relative;
margin:0 auto;
margin-bottom:10px;
width:80%;
padding:40px;
padding-top:10px;
padding-bottom:10px;
border-radius:8px;
font-size:24px;
font-weight:555;
color:#000;
text-decoration:none;
background-color:#FFF;
transition:background-color 0.1s linear;
-webkit-transition:background-color 0.1s linear;
-moz-transition:background-color 0.1s linear;
-o-transition:background-color 0.1s linear;
}
a:hover{
background-color:#EEE;
}