/*page main outlook*/
*{
margin:0 auto;
padding:0;
box-sizing:border-box;
}
html,body{
height:100%;
}
div.container{
width:100%;
min-height:100%;
height:auto;
display:grid;
grid-template-rows:auto 1fr auto;
}
div.head{
width:100%;
height:64px;
position:sticky;
top:0;
bottom:8px;
z-index:1;
background-color:#002FA7;
padding:16px;
text-align:center;
margin-bottom:8px;
box-shadow:0px 8px 40px 2px rgba(0,0,0,0.4);
}
div.main{
width:1024px;
margin:0 auto;
}
div.body{
position:absolute;
width:800px;
background-color:#EEE;
border-radius:4px;
min-height:640px;
height:auto;
padding-top:16px;
float:left;
margin:8px auto;
margin-left:208px;
}
div.sidebox{
position:absolute;
width:200px;
min-height:640px;
height:auto;
float:left;
position:fixed;
border-radius:4px;
background-color:#EEE;
margin:8px auto;
overflow-x:hidden;
}
div.foot{
width:100%;
height:48px;
clear:both;
background-color:#CCC;
padding:4px;
text-align:center;
}
/*normal object outlook*/
h1.pagetitle{
color:#FFF;
font-weight:500;
font-family:"楷体";
}
h1.contenttitle{
font-weight:555;
font-family:"等线";
}
h1,h2,h3,h4,h5,h6{
font-weight:555;
text-indent:32px;
}
img{
max-width:256px;
min-width:64px;
min-height:64px;
border-style:solid;
border-color:#DDD;
border-width:2px;
border-radius:4px;
}
img.big{
max-width:784px;
max-height:512px;
}
img.lside{
float:left;
}
img.rside{
float:right;
}
p{
text-indent:64px;
font-family:"微软雅黑";
}
p.code{
text-indent:0;
font-family:"Consolas";
border-style:groove;
border-width:3px;
border-color:grey;
border-radius:5px;
}
a.sblink{
color:#000;
padding:16px;
text-decoration:none;
display:block;
}
a:hover.sblink{
background-color:#E2E2E2;
text-decoration:none;
color:#000;
}