*{
box-sizing:border-box;
padding:0;
margin:0;
}
html,body{
width:100%;
min-height:100%;
height:auto;
}
#container{
width:100%;
min-height:100%;
height:auto;
bottom:0;
}
#head{
position:sticky;
width:100%;
height:64px;
border-style:solid;
}
#body{
position:relative;
width:100%;
height:1000px;
border-style:solid;
}
#foot{
position:relative;
width:100%;
height:100px;
border-style:solid;
}