@charset "utf-8";
*{
margin:0 auto;
padding:0;
box-sizing:border-box;
user-select:none;
}
::-webkit-scrollbar{
display:none;
}
html{
font-size:10px;
}
@media screen and (max-height:800px){
html{
font-size:8px;
}
}
@media screen and (max-height:700px){
html{
font-size:7px;
}
}
@media screen and (max-height:600px){
html{
font-size:6px;
}
}
@media screen and (max-height:500px){
html{
font-size:5px;
}
}
@media screen and (max-height:400px){
html{
font-size:4px;
}
}
@font-face{
font-family:"Genshin";
src:url("Genshin.ttf") format("truetype");
}
#container{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
background-color:black;
}
#background{
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
}
#characterDiv{
display:flex;
justify-content:flex-end;
position:absolute;
left:35%;
top:26%;
bottom:0;
width:35%;
height:70%;
overflow:hidden;
}
#character{
filter:hue-rotation(30deg);
-ms-filter:hue-rotation(30deg);
}
#characterMix{
display:none;
position:absolute;
filter:brightness(0) opacity(0.2);
}
img{
display:inline-block;
height:100%;
}
#information{
padding:0.5rem;
position:absolute;
bottom:0;
width:100%;
height:35%;
background-color:rgba(0,0,0,0.5);
text-align:center;
}
#infoName{
position:relative;
top:0;
width:100%;
}
#iNTitle{
font-size:3.2rem;
font-family:"Genshin";
color:#FCC509;
}
#focusDiv{
display:none;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:black;
text-align:center;
}
#focus{
position:absolute;
top:50%;
left:50%;
transform:translateY(-50%);
transform:translateX(-50%);
font-size:3.2rem;
font-family:"Genshin";
color:#FFF;
}
hr{
position:relative;
width:60%;
height:0.2rem;
background-color:rgba(252,197,9,0.5) !important;
border:none;
margin-top:0.5rem;
margin-bottom:0.5rem;
}
#infoContents{
padding:0.5rem;
}
#iC{
font-size:3.2rem;
font-family:"Genshin";
color:#fff;
}
#continue{
position:absolute;
bottom:1rem;
left:50%;
transform:translateX(-50%);
z-index:10;
background:none;
border:none;
color:#FCC509;
}
#cop{
font-weight:900;
font-size:4.8rem;
}
#cop:hover{
font-size:5.6rem;
}
#selectBox{
/*display:flex;*/
position:absolute;
left:66%;
/*right:9%;
top:35%;*/
bottom:30%;
width:30%;
height:30%;
align-items:end;
}
/*.selection{
position:relative;
font-size:3.2rem;
font-family:"Genshin";
color:#fff;
padding:8px;
padding-left:64px;
background-color:rgba(0,0,0,0.5);
border-radius:28px;
width:100%;
margin-top:20px;
}*/