@charset "utf-8";
*{
margin:0 auto;
padding:0;
box-sizing:border-box;
user-select:none;
}
::-webkit-scrollbar{
display:none;
}
@font-face{
font-family:"Genshin";
src:url("Genshin.ttf") format("truetype");
}
#container{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}
#background{
position:relative;
width:100%;
height:100%;
}
#characterDiv{
display:flex;
justify-content:flex-end;
position:absolute;
left:0;
top:20px;
bottom:0;
width:1200px;
height:1000px;
overflow:hidden;
}
img{
display:inline-block;
height:100%;
}
#information{
padding:5px;
position:absolute;
bottom:0;
width:100%;
height:35%;
background-color:rgba(0,0,0,0.5);
text-align:center;
}
#infoName{
position:relative;
top:0;
width:100%;

}
#iNTitle{
font-size:35px;
font-family:"Genshin";
color:#FCC509;
}
hr{
position:relative;
width:60%;
height:2px;
background-color:rgba(252,197,9,0.5) !important;
border:none;
}
#infoContents{
padding:5px;
}
#iC{
font-size:25px;
font-family:"Genshin";
color:#fff;
}
