@charset "utf-8";
*{
margin:0 auto;
padding:0;
box-sizing:border-box;
}
@font-face{
font-family:"Genshin";
src:url("Genshin.ttf") format("truetype");
}
/*div{
border:1px solid;
}*/
#container{
width:100%;
height:auto;
}
#headBackground{
width:100%;
height:300px;
border:none;
/*background-color:#77e0ff;*/
background-image:url('bg.png');/*M27M.png*/
}
#mainContext{
position:absolute;
top:12%;
left:14%;
right:3%;
padding:72px;
background-color:#fff;
border-radius:8px;
}
h1{
display:inline-block;
font-size:48px;
font-weight:555;
font-family:"Genshin";
margin-bottom:64px;
}
h2{
display:inline-block;
font-size:32px;
font-weight:555;
font-family:"Genshin";
margin-bottom:48px;
}
p, a{
font-size:24px;
font-family:"Genshin";
text-indent:2em;
}
.line{
width:100%;
height:auto;
float:inline-start;
}
.column{
display:inline-block;
position:relative;
float:inline-start;
width:50%;
min-width:400px;
max-width:100% !important;
padding-top:24px;
padding-bottom:24px;
padding-left:10px;
padding-right:10px;
height:auto;
word-wrap:break-word;
}
input, select, button, a{
margin:5px;
padding:12px;
font-size:24px;
background:none;
border-style:solid;
border-color:#bbb;
border-width:4px;
border-radius:27px;
font-family:"Genshin";
}
input{
padding-left:40px;
padding-right:40px;
}
#submit{
text-align:center;
width:90%;
}
option{
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
padding:12px;
font-size:24px;
border-style:solid !important;
border-color:#bbb !important;
border-width:4px !imporant;
border-radius:27px !important;
font-family:"Genshin";
}
hr{
margin:24px;
}
a{
display:inline-block;
color:#000;
text-decoration:none;
width:100%;
}
a *{
text-indent:0;
margin-bottom:16px;
}
a .intro{
font-size:18px;
color:#888;
}
.sTag{
color:#000;
background-color:#ddd;
margin-left:2px;
margin-right:2px;
padding-left:9px;
padding-right:9px;
border-radius:9px;
}
@media screen and (prefers-color-scheme:dark){
body,#mainContext,option,button,a{
background-color:#222;
}
.sTag{
background-color:#444;
}
#headBackground{
background-image:url('Scenes/M27M.png');
}
h1,h2,p,input,select,option,button,a,.sTag{
color:#fff;
}
input,select,option,button,a{
border-color:#444;
}
}
#searchBox{
width:100%;
height:61px;
margin-bottom:32px;
}
#searchBox input{
display:inline-block;
position:relative;
float:left;
width:80%;
margin:0;
}
button{
margin:0;
padding:0;
display:inline-block;
position:relative;
width:20%;
right:0;
top:0;
height:61px;
float:right;
overflow:hidden;
text-align:center;
}
.pyro{color:#FF8C00;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
.electro{color:#9400D3;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
.hydro{color:#00BFFF;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
.cryo{color:#87CEEB;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
.anemo{color:#7FFFD4;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
.geo{color:#FFD700;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
.dendro{color:#ADFF2F;text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0, #000 0 -0.5px 0;}
