*{
box-sizing-border-box;
margin:0;
}
html,body{
padding-top:48px;
padding-left:64px;
padding-right:24px;
}
p{
margin-top:8px;
margin-bottom:8px;
text-indent:0;
}
b{
display:inline-block;
text-decoration:underline;
text-decoration-color:#0476D0;
text-underline-position:under;
padding-bottom:8px;
}
h1,h2,h3,h4,h5,h6{
color:#0476D0;
font-family:"仿宋";
margin-bottom:32px;
}
h5,h6{
color:#000;
}
